#sect1 {
    background-color: #2e2e2e7d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  video {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 119.5vh;
    z-index: -1;
  }
  .bg-black-nav{
    background-color: black;
  }
  body{
    scroll-snap-type: y mandatory;
    scroll-padding: 50px; 
  }

.font-title {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.font-text {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bg-primary{
    background-color: #1d201c;
}
.bg-green{
    background-color: #5ce12c;
}
  
@media (max-width: 750px) {
    #sect1{
        height: 100vh;
    }
    video{
        height: 100vh !important;
    }
}